/Manifest.toml
src/privateTests.jl
.vscode
.github
test/scratch.jl
figures/displaced.png
figures/displaced2.png
figures/K.png
figures/trussdisplaced.png
figures/trussdisplaced2.png
figures/trussK.png
figures/trussundisplaced.png
.gitignore
figures/trussundisplaced2.png
figures/undisplaced.png
figures/undisplaced2.png
